In [ ]:
import pandas as pd
import requests
import numpy as np

### Download sample dataset

In [ ]:
# download sample dataset

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()

with open(target_csv_path, "wb") as f:
    f.write(response.content)

print("Downloaded dataset successfully")

### Read dataset

In [ ]:
# explore dataset using pandas

nba = pd.read_csv("nba_all_elo.csv")
print("type is: ", type(nba))
print("number of rows are: ",len(nba))
print("shape of df is: ",nba.shape)

### Getting to know dataset and get basic statistics

In [ ]:
# display first or last 5 rows of df
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)
nba.head() # custom number of rows nb.head(3)
# nba.tail()

In [ ]:
# get data types and other info of the columns.
nba.info()


# pandas uses the numpy library to work with its datatypes 
# and also there other complex categorical data types which
# are implemented by pandas python library itself.



# The object data type is a special one. 
# According to the Pandas Cookbook, 
# the object data type is “a catch-all for columns that Pandas doesn’t recognize as any other specific type.” 
# In practice, it often means that all of the values in the column are strings.


# Although you can store arbitrary Python objects in the object data type, 
# you should be aware of the drawbacks to doing so. 
# Strange values in an object column can harm Pandas’ performance and its interoperability with other libraries.

In [ ]:
# get basic statistics
nba.describe() 
# This function shows some basic descriptive statistics for all numeric columns.


# .describe() only analyzes numeric columns by default, but you can provide other 
# data types if you use the include parameter


# nba.describe(include=object)

### Exploratory data analysis

In [ ]:
# exploring dataset
# Exploratory data analysis can help you answer questions about dataset.

# example:

# how often specific values occur in a column

# print(nba["team_id"].value_counts())
# print(nba["fran_id"].value_counts())
# print(nba.loc[nba["fran_id"] == "Lakers", "team_id"].value_counts())

# nba["date_played"] = pd.to_datetime(nba["date_game"])
# print(nba.loc[nba["team_id"] == "MNL", "date_played"].min())
# print(nba.loc[nba["team_id"] == "MNL", "date_played"].max())
# print(nba.loc[nba["team_id"] == "MNL", "date_played"].agg(("min", "max")))

### Pandas data structures

In [ ]:
# Understanding "pandas.Series" objects

revenues = pd.Series([5555, 7000, 1980])
print(type(revenues))
print(revenues)
print("---")

# A series object wraps two components:
# 1. A sequence of "values".
# 2. A sequence of "identifiers", which is the "index".
print(revenues.values)
print(type(revenues.values))
print(revenues.index)
print("---")
# a Pandas Series has an integer index that’s implicitly defined. 
# This implicit index indicates the element’s position in the Series.
# However, a Series can also have an arbitrary type of index. 
# You can think of this explicit index as labels for a specific row.

city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])
print(city_revenues)
print(city_revenues.keys()) # prints indices.
print("Tokyo" in city_revenues)
print("---")

In [ ]:
# Understanding "pandas.DataFrame" objects

# DataFrame = This data structure is a sequence of Series objects
# that share the same index.

city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8}) # keys acts as index.

city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

print(city_data)
print(city_data.index) # The new DataFrame index is the union of the two Series indices.
print(city_data.values) # numpy ndarray
print("---")

# The two dimensions of a DataFrame are also called as "axes".
print(city_data.axes)
print(city_data.axes[0]) # 0 is for row index
print(city_data.axes[1]) # 1 is for column index
print("---")

# df has also support .keys() and "in" keyword.
print(city_data.keys()) # prints columns name
print("Amsterdam" in city_data) # False as "Amsterdam" is not a column name
print("revenue" in city_data) # True  as "revenue" is a column name

In [ ]:
# Accessing Series elements

# Series has two indices:
# 1. A positional or implict index, which os always a RangeIndex
# 2. A label or explicit index, which can contain any hashable objects

city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])

# we can conveniently access the values in a Series with both,
# the label and positional indices
print(city_revenues["Toronto"])
print(city_revenues[1])
print("---")

# we can also use negative indices and slices.
print(city_revenues[-1])
print(city_revenues[1:])
print(city_revenues["Toronto":])
print("---")

# using .loc and .iloc
# The indexing operator ([]) is convenient, but there’s a caveat. 
# What if the labels are also numbers? 

colors = pd.Series(
    ["red", "purple", "blue", "green", "yellow"],
    index = [1, 2, 3, 5, 8]
)


# For a positional index, colors[1] is "purple". 
# However, if you go by the label index, then colors[1] is referring to "red".

# To avoid confusion, the Pandas Python library provides two "data access methods":
# .loc refers to the "label index".
# .iloc refers to the "positional index".
print(colors)
print(colors.loc[1])
print(colors.iloc[1])
print("---")

# .loc and .iloc also support the features you would expect from indexing operators, like slicing.
# However, these data access methods have an important difference. 
# While .iloc excludes the closing element, .loc includes it.

print(colors.iloc[1:3]) # Return the elements with the implicit index: 1, 2
print(colors.loc[3:8]) # Return the elements with the explicit index between 3 and 8
print("---")

In [ ]:
# Accessing DataFrame elements

# Since a DataFrame consists of Series objects, 
# we can use the very same tools to access its 
# elements.

# The crucial difference is the additional 
# "dimension" of the DataFrame.

# We can use the indexing operator for the columns 
# and the access methods .loc and .iloc on the rows.

city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8}) # keys acts as index.

city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

print(city_data)
print("---")

# access column of df using indexing operator
print(city_data["revenue"]) #  select column named "revenue".
print(type(city_data["revenue"]))
print(city_data.revenue)
print("---")

# using .loc and .iloc
print(type(city_data.loc["Amsterdam"]))
print(city_data.loc["Amsterdam"])

print(type(city_data.loc["Tokyo": "Toronto"]))
print(city_data.loc["Tokyo": "Toronto"])

print(city_data.iloc[1])
print(city_data.iloc[-1])
print("---")


# For a DataFrame, the data access methods .loc and .iloc also accept a second parameter. 
# While the first parameter selects rows based on the indices, 
# the second parameter selects the columns. 
# You can use these parameters together to select a subset 
# of rows and columns from your DataFrame:

print(city_data.loc["Amsterdam": "Tokyo", "revenue"])

### Querying dataset

In [ ]:
# filter rows based on the column values
current_decade = nba[nba["year_id"] > 2010]
print(current_decade.shape)
print("---")

# select rows where specific field is not null
games_with_notes = nba[nba["notes"].notnull()] # or nba[nba["notes"].notna()]
print(games_with_notes.shape)
print("---")

# access values of the object data type as str and perform
# string operations on them
ers = nba[nba["fran_id"].str.endswith("ers")]
print(ers.shape)
print("---")

# filter using multiple conditions
nba[
    (nba["_iscopy"] == 0) &
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100) &
    (nba["team_id"] == "BLB")
].head()

### Grouping and Aggregating data

In [ ]:
city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8}) # keys acts as index.

city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

# aggregation on Series object
print(city_revenues.sum())
print(city_revenues.max())
print(city_revenues.min())
print(city_revenues.mean())
print("---")

points = nba["pts"]
print(type(points))
print(points.sum())
print("---")

# groupby operations on a dataframe
print(nba.groupby("fran_id", sort=False)["pts"].sum())
print("---")
print(nba[
    (nba["fran_id"] == "Spurs") &
    (nba["year_id"] > 2010)
].groupby(["year_id", "game_result"])["game_id"].count())

### Manipulating columns

In [ ]:
df = nba.copy()
print(df.shape)
print("---")

# define new column based on existing ones
df["difference"] = df.pts - df.opp_pts
print(df["difference"].max())
print("---")

# rename columns
renamed_df = df.rename(
    columns={
        "game_result": "result", 
        "game_location": "location"
    }
)
print(renamed_df.info())
print("---")

# drop columns
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
df.drop(elo_columns, inplace=True, axis=1)
df.shape

### Specifying Data Types

In [ ]:
print(df.info())
print("---")

# convert date_game data type to datetime object
df["date_game"] = pd.to_datetime(df["date_game"])
print(df.info())
print("---")

print(df["game_location"].nunique())
print(df["game_location"].value_counts())
df["game_location"] = pd.Categorical(df["game_location"])
print(df["game_location"].dtype)
print(df.info())
print("---")

### Cleaning Data

In [ ]:
# remove rows containing null values in any of the column
rows_without_missing_data = nba.dropna()
print(rows_without_missing_data.shape)
print("---")

# drop columns containing null values
data_without_missing_columns = nba.dropna(axis=1)
print(data_without_missing_columns.shape)
print("---")

# we can also replace null values with meaningful default values
data_with_default_notes = nba.copy()
data_with_default_notes["notes"].fillna(
    value="no notes at all",
    inplace=True
)

print(data_with_default_notes["notes"].describe())
print("---")

### Combining Multiple Datasets

In [ ]:
city_revenues = pd.Series([4200, 8000, 6500], index=["Amsterdam", "Toronto", "Tokyo"])
city_employee_count = pd.Series({"Amsterdam": 5, "Tokyo": 8}) # keys acts as index.

city_data = pd.DataFrame({
    "revenue": city_revenues,
    "employee_count": city_employee_count
})

further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee_count":[2, 2]},
    index=["New York", "Barcelona"]
)

# combine along rows
all_city_data = pd.concat([city_data, further_city_data], sort=False, axis=0)
print(all_city_data)
print("---")

city_countries = pd.DataFrame(
    {
        "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
        "capital": [1, 1, 0, 0, 0]
    },
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)

# combine along columns
cities = pd.concat([all_city_data, city_countries], axis=1, sort=False)
print(cities)
print("---")

# join operation (row index label values are considered for join operation)
joined_df = pd.concat([all_city_data, city_countries], axis=1, join="inner")
print(joined_df)